.container {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1.8px;
  background: #0f0425;
  display: grid;
  align-items: center;
  align-content: center;
  background: transparent;
  margin-top: -25px;
}

.container_opened {
  padding-left: 57px;
  grid-template-rows: 1fr 40px;
  align-content: stretch;
  align-items: start;
  padding-top: 6px;
  padding-bottom: 40px;
  padding-right: 37px;
}

.close {
  margin-left: auto;
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 33px;
  cursor: pointer;
  z-index: 30;
}

.socials {
  display: none;
}

.menuIcon {
  display: inherit;
  padding: 0px 100px;
  display: inherit;
  padding: 0px 100px;
  padding-right: 60px;
  padding-top: 15px;
  justify-content: end;
  cursor: pointer;
  z-index: 20;
}

.menuIcon img {
  width: 34px;
  color: #11D9EB;
}

.menuArea {
  display: none;
}

.menuLink {
  display: block;
  padding: 10px 0px;
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 15px;
}

.menuLink:hover {
  color: #11D9EB;
}

.containerBorder_opened {
  width: 22.55vw !important;
  height: 100vh !important;
  background: #07031E !important;
}

.containerBorder_opened .menuIcon {
  display: none;
}

.containerBorder_opened .menuArea {
  display: block;
  margin-top: 33px;
}

.containerBorder_opened .socials {
  display: block;
  align-content: end;
}

.socialsList {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 17px;
  padding: 0px;
  list-style-type: none;
  width: max-content;
}

.socialsItem svg:hover circle {
  fill: url(#paint0_linear_ff);
  fill-opacity: 1;
}

.polygon {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%); */
}

.containerBorder {
  position: fixed;
  transition: width 0.3s ease;
  width: 300px;
  min-width: 300px;
  height: 85px;
  background: linear-gradient(140deg,
      rgba(17, 217, 235, 1) 0%,
      rgba(228, 43, 200, 1) 40%);
  background: transparent;
  top: 0px;
  right: 0px;
}

.first__apps-block {
  display: none !important;
}

@media(max-width: 1550px) {
  .menuIcon {
    padding-right: 45px;
  }
}

@media(max-width: 768px) {
  .containerBorder_opened {
    width: 100vw !important;
    position: fixed !important;
  }

  .container_opened {
    grid-template-rows: max-content minmax(40px, auto);
    margin-top: -120px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .container_opened .close {
    margin-right: 22px;
  }


  .container_opened .socials {
    display: none;
  }

  .menuLink {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
  }

  .containerBorder_opened .first__apps-block {
    display: grid !important;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    width: max-content;
    margin: 0 auto;
    margin-top: 46px;

  }

  .menuIcon {
    padding-right: 30px;
    position: fixed;
    right: 0px;
  }
}