.container {
  text-align: center;
  min-height: 300px;
}

.container .imgLine {
  max-width: 100%;
  max-width: calc(min(1400px, 100%));
  margin-top: 40px;
}

.teamLine {
  margin-top: 60px;
}

.teamItem {
  display: inline-block;
  width: 272px;
  height: 283px;
  background: url(/images/teamFrame.png) no-repeat;
  background-size: contain;
  text-align: center;
  align-items: center;
  padding-top: 155px;
  margin: 0px 10px;
}

.teamItem .socialsList {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 17px;
  padding: 0px;
  list-style-type: none;
  width: max-content;
}

.teamItem .socials {
  margin: 0 auto;
  width: max-content;
}

.socialsItem svg:hover circle {
  fill: url(#paint0_linear_1098_hhh);
  fill-opacity: 1;
}

.teamItem .title {
  font-size: 16px;
  margin-bottom: 10px;
}

.teamItem .email {
  font-size: 11px;
  margin-bottom: 33px;
}

@media(max-width: 953px) {
  .teamItem {
    margin-bottom: 20px;
  }
}