/* h1, h2 { 
    color: red;
} */

.title {
  font-family: "Tomorrow";
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 0px 25px var(--color-aqua);
}

@media(max-width: 768px) {
  .title {
    font-size: 26px !important;
  }
}

@media(max-width: 1550px) {
  .title {
    font-size: 40px !important;
  }
}