.container {
  text-align: center;
  min-height: 300px;
  margin: 240px 0;
}

.container .imgLine {
  width: 100%;
  max-width: 1300px;
  margin-top: 100px;
}


.main {
  background-image: url('/images/block-8-bgg.png');
  width: 1623px;
  min-height: 0;
  padding: 150px 90px 120px;
  max-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.main::before {
  position: absolute;
  content: '';
  background-image: url(/icons/b8-circles.svg);
  width: 86px;
  background-repeat: no-repeat;
  height: 14px;
  left: 3.88%;
  top: 1.6%;
  display: block;
}

.main::after {
  position: absolute;
  content: '';
  background-image: url(/icons/b8-circles.svg);
  width: 86px;
  background-repeat: no-repeat;
  height: 14px;
  right: 3.88%;
  top: 1.6%;
  display: block;
}

.markedList {
  margin-top: 100px;
  margin-bottom: 111px;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-column-gap: 50px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.markedListItem {
  padding-left: 100px;
  position: relative;
  text-align: center;
}

.markedListItem::before {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  display: block;
  top: 0px;
  left: 0px;
  background-image: url(/icons/markedListb.svg);
}

.markedListItemTitle {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 160%;
  /* or 34px */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #EAEAEA;
  margin-bottom: 13px;
}


.cardList {
  margin-top: 74px;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-column-gap: 63px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardListItem {
  background-image: url('/images/block-8-bggg.png');
  max-width: 500px;
  max-height: 382px;
  background-repeat: no-repeat;
  padding: 54px 55px 120px;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  margin-left: 0px;
}

.cardListItem>div {
  transform: translateY(50px);
}

.cardListItemImage {
  max-width: 180px;
  margin-bottom: auto;
  text-align: center;
  max-height: 100px;
  transform: translateY(20px) scale(1.2);
}

.cardListItemTitle {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 160%;
  /* identical to box height, or 40px */

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #EAEAEA;
  margin-bottom: 6px;
}

.cardListItemDesc {

  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  /* identical to box height, or 34px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #EAEAEA;
}

@media(max-width: 1650px) {
  .markedListItemTitle {
    font-size: 17px;
  }

  .markedListItem {
    padding-left: 70px;
  }

  .markedListItem::before {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }

  .markedList {
    margin-bottom: 70px;
  }

  .main {
    padding: 150px 60px 75px;
  }

  .block h3 {
    font-size: 30px !important;
  }

  .cardList {
    margin-top: 50px;
  }

  .cardListItem {
    padding-bottom: 90px;
    padding-top: 44px;
  }

  .cardListItemImage {
    transform: translatey(30px);
  }

  .cardListItem:nth-child(2) .cardListItemImage {
    transform: scale(1.2) translatey(15px);
  }

  .cardListItemTitle {
    font-size: 20px;
  }
}


@media(max-width: 1200px) {
  .cardListItemDesc {
    width: calc(100% + 55px);
    margin-left: -25px;
  }

  .cardListItemTitle {
    width: calc(100% + 55px);
    margin-left: -25px;
  }

  .cardList {
    grid-column-gap: 4%;
  }

  .markedList {
    grid-column-gap: 20px;
  }
}

@media(max-width: 1100px) {

  .main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .cardList {
    grid-column-gap: 15px;
  }

  .cardListItem {}

  .cardListItemImage {
    max-height: 70px;
  }
}

@media(max-width: 1150px) {

  .main::after {
    right: 20px;
  }

  .main::before {
    left: 20px;
  }

}

.m_rightB,
.m_rightC {
  display: none;
}

@media(max-width: 991.5px) {

  .m_rightB,
  .m_rightC {
    position: absolute;
    display: block;
  }

  .m_rightC {
    background-image: url(/icons/b8-circles.svg);
    width: 45px;
    background-size: 100% 100%;
    height: 20px;
    right: 20px;
    top: 5px;
  }

  .m_rightB {
    position: absolute;
    background: linear-gradient(180deg, #11D9EB -19.5%, #FF14DA 149.95%);
    width: 100%;
    background-size: 100% 100%;
    height: 44px;
    right: 9px;
    top: 0px;
    clip-path: polygon(calc(100% - 93px) 0, calc(100% - 60px) 32px, 100% 32px, 100% 33px, calc(100% - 60px) 33px, calc(100% - 93px) 1px);
  }

  div.container {
    margin-top: 120px !important;
    margin-bottom: 110px;
  }

  .main {
    background: none;
    padding-top: 70px;
    padding-bottom: 80px;
    padding-right: 42px;
    padding-left: 42px;
  }

  .main::before {
    content: '';
    position: absolute;
    display: block;
    clip-path: polygon(0% 0%, calc(100% - 103px) 0%, calc(100% - 62px) 40px, 100% 40px, 100% 100%, 78.23% 100%, 73.23% calc(100% - 38px), 26.77% calc(100% - 38px), 21.77% 100%, 0% 100%, 0% 0.5px,

        0.5px 0.5px, 0.5px calc(100% - 0.5px), calc(21.77% - 0.5px) calc(100% - 0.5px), calc(26.77% - 0.5px) calc(100% - 38.5px), calc(73.23% + 0.5px) calc(100% - 38.5px), calc(78.23% + 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) 40.5px, calc(100% - 62.5px) 40.5px, calc(100% - 103.5px) 0.5px, 0% 0.5px);
    width: calc(100vw - 18px);
    height: 100%;
    top: 0;
    left: 9px;
    right: 9px;
    background: linear-gradient(167deg, #11D9EB 20.34%, #E42BC8 90.2%);
  }

  .main::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 9px;
    right: 9px;
    background: #11D9EB;
    clip-path: polygon(8px 10px, calc(100% - 126px) 10px, calc(100% - 126px) 10.5px, 8px 10.5px);
  }


  .main h1 {
    text-align: left;
  }

  .markedList {
    margin-top: 41px;
    margin-bottom: 63px;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .markedListItemTitle {
    text-align: left;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 160% !important;
    text-transform: none;
    font-family: 'Tomorrow';
    font-style: normal;
    margin-bottom: 5px;
    color: #FFFFFF;
  }

  .markedListItemDesc {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 170% !important;
    letter-spacing: -0.02em;
    color: rgba(234, 234, 234, 0.75);
    text-align: left;
  }

  .markedListItem::before {
    width: 46px;
    height: 46px;
    background-size: 46px 46px;
    top: 10px;
  }

  .markedListItem {
    padding-left: 63px;
  }

  .main h3 {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 140% !important;
  }
  .container_rus .main h3 {
    font-family: 'Ruberoid';
  }

  .cardList {
    margin-top: 32px;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    justify-items: center;
  }

  .cardListItemTitle {
    font-family: 'Ruberoid' !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 160% !important;
    text-transform: none;
    color: white !important;
  }

  .cardListItemDesc {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 170% !important;
    /* or 22px */

    text-align: center;
    letter-spacing: -0.02em;

    color: rgba(234, 234, 234, 0.75);
  }

  .cardListItem {
    padding-top: 20px;
    width: 286px;
    max-height: 219px;
  }

  div.container {
    position: relative;
  }

  .container::after {
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    height: 800px;
    bottom: 51px;
    left: 0px;
    background: url(/images/b8-th.png);
    background-size: 100% 100%;
  }

  .main {
    z-index: 2;
  }
}

@media(min-width: 768px) and (max-width: 991.5px) {
  div.container {
    max-width: 1000px !important;
  }
}

@media(max-width: 370px) {
  .cardListItem {
    width: 230px;
  }
}