.container {
  text-align: center;
  min-height: 300px;
  margin: 240px 0;
}

.container .imgLine {
  width: 100%;
  max-width: 1300px;
  margin-top: 100px;
}


.main {
  background-image: url('/images/block-8-bgg.png');
  width: 1623px;
  min-height: 1254.97px;
  padding: 150px 90px 120px;
  max-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.main::before {
  position: absolute;
  content: '';
  background-image: url(/icons/b8-circles.svg);
  width: 86px;
  background-repeat: no-repeat;
  height: 14px;
  left: 3.88%;
  top: 1.6%;
  display: block;
}

.main::after {
  position: absolute;
  content: '';
  background-image: url(/icons/b8-circles.svg);
  width: 86px;
  background-repeat: no-repeat;
  height: 14px;
  right: 3.88%;
  top: 1.6%;
  display: block;
}

.markedList {
  margin-top: 100px;
  margin-bottom: 111px;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-column-gap: 50px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.markedListItem {
  padding-left: 100px;
  position: relative;
  text-align: left;
}

.markedListItem::before {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  display: block;
  top: 0px;
  left: 0px;
  background-image: url(/icons/markedListb.svg);
}

.markedListItemTitle {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 160%;
  /* or 34px */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #EAEAEA;
  margin-bottom: 13px;
}


.cardList {
  margin-top: 74px;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-column-gap: 63px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardListItem {
  background-image: url('/images/block-8-bggg.png');
  max-width: 439px;
  max-height: 382px;
  background-repeat: no-repeat;
  padding: 54px 55px 80px;
  background-size: 100% 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  margin-left: -15px;
}

.cardListItemImage {
  max-width: 180px;
  margin-bottom: auto;
  text-align: center;
}

.cardListItemTitle {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  /* identical to box height, or 40px */

  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #EAEAEA;
  margin-bottom: 6px;
}

.cardListItemDesc {

  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  /* identical to box height, or 34px */

  text-align: center;
  letter-spacing: -0.02em;

  color: #EAEAEA;
}





@media(max-width: 1300px) {
  .main::before {
    left: 2.88%
  }

  .main::after {
    right: 2.88%;
  }

  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}



@media(max-width: 1200px) {

  .main::before,
  .main::after {
    transform: scale(0.7);
  }

  .main::before {
    left: 1.88%;
  }

  .main::after {
    right: 1.88%;
  }

  .cardList {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    justify-content: space-between;
    margin-left: 15px;
  }

  .cardListItem {
    max-height: 367px;
  }

  .cardListItem:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }

  .main {
    padding-bottom: 30px;
  }

  .markedList {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
}