.container {
  background: center no-repeat url("/icons/cart1.png");
  background-size: contain;
  /* aspect-ratio: 1.12/1; */
  width: 455px;
  height: 407px;
  margin-top: 30px;
  display: grid;
  position: relative;
}




.icon {
  position: absolute;
  top: -27px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 110px;
  width: 151px;
  padding-bottom: 33.3%;
  display: grid;
  align-items: center;
  align-content: center;
  background: url(/icons/cart1_icon.svg) no-repeat;
  background-size: cover;
}

.icon>div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.icon>div>div {
  width: 100%;
}

.icon img {
  width: 20%;
}

.text {
  margin-top: 15%;
  font-size: 1.5vw;
  font-size: clamp(12px, 1.5vw, 18px);
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  height: calc(100% - 16%);
  font-size: 20px;
  line-height: 160%;
}

@media(max-width: 1550px) {
  .text {
    font-size: 100%;
  }

  .container {
    height: 350px;
    width: 392px;
  }

  .icon {
    height: 166px;
    width: 165px;
  }
}

@media(max-width: 1400px) {

  .icon {
    height: 142px;
    width: 140px;
    top: -15px;
  }

  .container {
    width: 392px;
    height: 350px;
  }

  .text {
    font-size: 90%;
  }


}

@media(max-width: 1300px) {
  .container {
    width: 288px;
    height: 350px;
  }

  .icon {
    height: 121px;
    width: 120px;
    top: 10px;
  }

  .text {
    font-size: 80%;
  }
}

@media (max-width: 991.5px) {
  .container {
    background: center no-repeat url("/icons/cart1-mobile.png");
    background-size: contain;
    width: 350px;
    height: 184px;
    margin-top: 30px;
    display: grid;
    position: relative;
  }

  .icon {
    width: 101px;
    height: 112px;
    top: -56px;
    background: url(/icons/cart1_icon-mobile.svg) no-repeat;
  }

  .text {
    margin-top: 40px;
  }


}