.container {
  text-align: center;
  min-height: 300px;
  margin: 120px 10px 0px;
}

.container .imgLine {
  width: 100%;
  margin-top: 100px;
}

.block {
  background-image: url(/images/b-7-bg.png);
  background-size: 100% 100%;
  padding: 177px 57px;
  position: relative;
  min-height: 1313px;
}

.block::before {
  content: '';
  height: 30%;
  top: 35%;
  width: calc(100% + 60px);
  left: -30px;
  background-size: auto auto;
  background-position: center;
  background-image: url(/icons/thunder.svg);
  position: absolute;
  display: block;
}

.content {
  margin-top: 85px;
  height: 100%;
}

.picture {
  position: absolute;
  top: 315px;
  left: calc(50% - 350px);
}

.car {
  width: 700px;
}

.list {
  padding: 0px;
  display: grid;
  grid-template-columns: 430px 430px;
  justify-content: space-between;
  list-style: none;
  list-style: none;
  counter-reset: items;
  grid-row-gap: 82px;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.listItem {
  padding-left: 78px;
  text-align: left;
  position: relative;
}

.listItem::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  background-image: url(/icons/01.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
}

.listItem:nth-child(2)::before {
  background-image: url(/icons/02.svg);
}

.listItem:nth-child(3)::before {
  background-image: url(/icons/03.svg);
}

.listItem:nth-child(4)::before {
  background-image: url(/icons/04.svg);
}

.listItem:nth-child(5)::before {
  background-image: url(/icons/05.svg);
}

.listItem:nth-child(6)::before {
  background-image: url(/icons/06.svg);
}

.listItem:nth-child(7)::before {
  background-image: url(/icons/07.svg);
}

.listItem:nth-child(8)::before {
  background-image: url(/icons/08.svg);
}


.listItemTitle {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 160%;
  margin-bottom: 15px;
}

.listItemDesc {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 170%;
  /* or 32px */

  letter-spacing: -0.02em;

  color: #EAEAEA;
}






@media(max-width: 1650px) {
  .block {
    padding: 127px 57px;
    padding-top: 160px;
    min-height: 0px;
  }

  .list {
    grid-row-gap: 50px;
    grid-template-columns: 30% 30%;
  }

  .listItemDesc {
    font-size: 15px;
  }

  .listItemTitle {
    font-size: 23px;
  }

  .listItem {
    padding-left: 64px;
  }

  .listItem::before {
    width: 40px;
    height: 45px;
  }

  .car {
    width: 480px;
  }

  .picture {
    left: calc(50% - 240px);
  }
}

@media(max-width: 1400px) {
  .block {
    padding: 127px 57px;
    padding-top: 160px;
    min-height: 0px;
  }

  .list {
    grid-row-gap: 30px;
    grid-template-columns: 30% 30%;
  }

  .listItemDesc {
    font-size: 15px;
  }

  .listItemTitle {
    font-size: 21px;
  }

  .listItem {
    padding-left: 60px;
  }

  .listItem::before {
    width: 35px;
    height: 38px;
  }
}

@media(max-width: 991.5px) {
  .block {
    background-image: none;
    position: relative;
    padding-top: 45px;
    padding-bottom: 77px;
    padding-left: 41px;
    padding-right: 120px;
  }

  .block::before {
    position: absolute;
    clip-path: polygon(0% 0%, calc(100% - 103px) 0%, calc(100% - 62px) 40px, 100% 40px, 100% 100%, 78.23% 100%, 73.23% calc(100% - 38px), 26.77% calc(100% - 38px), 21.77% 100%, 0% 100%, 0% 0.5px,
        0.5px 0.5px, 0.5px calc(100% - 0.5px), calc(21.77% - 0.5px) calc(100% - 0.5px), calc(26.77% - 0.5px) calc(100% - 38.5px), calc(73.23% + 0.5px) calc(100% - 38.5px), calc(78.23% + 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) 40.5px, calc(100% - 62.5px) 40.5px, calc(100% - 103.5px) 0.5px, 0% 0.5px);
    width: calc(100vw - 18px);
    height: 100%;
    top: 0px;
    left: 9px;
    right: 9px;
    background: linear-gradient(270deg, #11D9EB 20.34%, #E42BC8 90.2%);
    z-index: 4;
  }

  .block::after {
    position: absolute;
    /* clip-path: polygon(0% 0%, calc(100% - 103px) 0%, calc(100% - 62px) 40px, 100% 40px, 100% 100%, 78.23% 100%, 73.23% calc(100% - 38px), 26.77% calc(100% - 38px), 21.77% 100%, 0% 100%); */
    display: block;
    clip-path: polygon(0% 0%, calc(100% - 103px) 0%, calc(100% - 62px) 40px, 100% 40px, 100% 100%, 78.23% 100%, 73.23% calc(100% - 38px), 26.77% calc(100% - 38px), 21.77% 100%, 0% 100%, 0% 0.5px,

        0.5px 0.5px, 0.5px calc(100% - 0.5px), calc(21.77% - 0.5px) calc(100% - 0.5px), calc(26.77% - 0.5px) calc(100% - 38.5px), calc(73.23% + 0.5px) calc(100% - 38.5px), calc(78.23% + 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) calc(100% - 0.5px), calc(100% - 0.5px) 40.5px, calc(100% - 62.5px) 40.5px, calc(100% - 103.5px) 0.5px, 0% 0.5px);

    width: calc(100vw - 18px);
    height: 100%;
    top: 0px;
    left: 9px;
    right: 9px;
    content: '';
    display: block;
    background: linear-gradient(93.22deg, rgba(206, 67, 255, 0.07) 17.59%, rgba(45, 179, 255, 0.063) 79.62%);
    backdrop-filter: blur(15px);
    z-index: 0;
  }

  .container h1 {
    z-index: 1;
    text-align: left;
    position: relative;
    width: 130%;
  }

  .content {
    position: relative;
    margin-top: 40px;
    position: relative;
    height: 506px;
  }

  .car {
    position: relative;
    z-index: 5;
  }

  .list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, max-content);
    grid-row-gap: 30px;
    height: 506px;
    overflow-x: visible;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    pointer-events: all;
  }

  .listItem:first-child,
  .listItem:last-child {
    z-index: 3;
  }

  .container h1 {
    z-index: 3;
  }

  .list::before {
    content: '';
    width: 100%;
    top: -7px;
    left: 0px;
    position: absolute;
    height: 131px;
    display: block;
    background: linear-gradient(180.89deg, #07031E 15.49%, rgba(7, 3, 30, 0) 99.23%);
    z-index: 1;
  }

  .list::after {
    content: '';
    width: 110vw;
    bottom: -7px;
    left: -10vw;
    position: absolute;
    height: 131px;
    display: block;
    background: linear-gradient(180.89deg, #07031E 15.49%, rgba(7, 3, 30, 0) 99.23%);
    transform: rotate(-180deg);
  }

  div.container {
    position: relative;
  }

  .container::after {
    display: block;
    content: '';
    bottom: -70px;
    left: 0px;
    position: absolute;
    width: 100vw;
    height: 150px;
    background: linear-gradient(180.89deg, #07031E 15.49%, rgba(7, 3, 30, 0) 99.23%);
  }

  .listItemTitle {
    font-weight: 600;
    font-size: 17px !important;
    line-height: 160% !important;
    margin-bottom: 7px;
  }

  .listItemDesc {
    font-weight: 400;
    font-size: 13px !important;
    line-height: 170%;
    letter-spacing: -0.02em;
    color: rgba(234, 234, 234, 0.75);
  }

  .listItem::before {
    width: 23px;
    height: 28px;
  }

  .listItem {
    padding-left: 32px;
  }


  .car {
    width: 373px;
    height: 547px;
  }

  .picture {
    top: -40px;
    left: calc(100% - 70px);
  }

}

@media(min-width: 768px) and (max-width: 991.5px) {
  div.container {
    max-width: 1000px !important;
  }
}

@media(max-width: 370px) {
  .picture {
    left: calc(100% - 64px);
  }

  .block {
    padding-right: 90px !important;
  }
}