.container {
  text-align: center;
  min-height: 300px;
  margin: 0px 120px;
}

.countBox {
  width: 100px;
  height: 120px;
  background: url(/images/group4Box.png) no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  align-items: center;
}

.countBox span {
  width: 100%;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
}


.blockRow {}

.blockRow .blockItem {
  display: inline-block;
  min-width: 180px;
  max-width: 270px;
  vertical-align: top;
}

.blockRow .blockItem .blockCount {
  display: inline-block;
}

.blockRow .blockItem .blockTitle {
  margin-top: 20px;
}

.blockRow .blockItem .blockTitle h4 {
  font-size: 20px;
}

.blockRow .blockItem .blockDesc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
}

.blockRow .blockItem .blockItemConnect {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
}

.blockRow .blockItem .blockItemConnect img {
  width: 100%;
}

.blockRow:first-of-type {
  display: grid;
  grid-template-columns: 1fr 200px 1fr 200px 1fr;
  justify-items: center;
}

.blockRow:last-of-type {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  justify-items: center;
}

.blockRow:last-of-type .blockItem:nth-child(1) {
  justify-self: end;
}

.blockRow:last-of-type .blockItem:nth-child(3) {
  justify-self: start;
}

.blockItemConnect img {
  transform: scale(1.4);
}

/* @media(max-width: 1600px) {
  .blockRow:nth-child(1) {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 200px 1fr 200px 1fr;
    justify-items: center;
    grid-row-gap: 20px;
  }
}*/

@media(min-width: 992px) {

  .blockDesc,
  .blockTitle {
    width: 130%;
    margin-left: -15%;
  }
}

@media(min-width: 1550px) {
  .container .blockRow:last-of-type {
    grid-column-gap: 2%;
  }


}


@media(min-width: 1600px) {

  .blockDesc {
    width: 170%;
    margin-left: -35%;
  }
}

@media(max-width: 1550px) {
  .blockRow:first-of-type {
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
  }



  .container .blockRow:last-of-type {
    grid-column-gap: 3%;
  }

  .blockRow:last-of-type {
    grid-template-columns: 1fr 80px 1fr;
  }

  .blockRow .blockItem .blockItemConnect img {
    transform: scale(1.2);
  }
}

@media(max-width: 1400px) {
  .blockRow .blockItem .blockDesc {
    font-size: 16px;
  }
}

@media(max-width: 1200px) {
  .blockRow:first {
    grid-template-columns: 1fr 60px 1fr 60px 1fr;
  }

  .blockRow:first {
    grid-template-columns: 1fr 60px 1fr;
  }

}



@media(max-width: 1100px) {

  .blockRow .blockItem .blockItemConnect img {
    transform: scale(1);
  }
}

@media(max-width: 991.5px) {
  div.container {
    margin-top: 93px;
  }

  .blockRow {
    margin-top: 0 !important;
    grid-template-columns: 1fr !important;
    margin-right: 17px !important;
    margin-left: 17px !important;
    grid-row-gap: 25px;
    z-index: 2;
    position: relative;
  }

  .blockRow:first-of-type {
    margin-bottom: 50px !important;
  }

  .blockItemConnect {
    display: none !important;
  }

  .container h1 {
    margin-bottom: 50px;
  }

  .blockItem {
    grid-template-columns: 65px 1fr;
    display: grid !important;
    grid-template-rows: max-content max-content;
    width: 100% !important;
    max-width: 100% !important;
    grid-column-gap: 15px;
  }

  .blockCount {
    grid-row: 1/-1
  }

  .blockCount .countBox {
    width: 65px !important;
    height: 69.28px !important;
  }

  .blockCount .countBox span {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    width: 57px;
  }

  .blockTitle {
    margin: 0;
    text-align: left;
    margin-top: 6px !important;
  }

  .blockTitle h4 {
    font-size: 16px !important;
    line-height: 150% !important;
    margin-bottom: 15px;
    letter-spacing: -0.02em;
    width: 90% !important;
  }

  .blockDesc {
    text-align: left;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 160% !important;
    margin-top: 0 !important;
    /* or 21px */

    letter-spacing: -0.02em;

    color: rgba(234, 234, 234, 0.7);
  }

  .container {
    position: relative;
  }

  .container::before {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: calc(100% - 162.72px);
    background: #361268;
    left: 41.3px;
    top: 100px;
    z-index: 0;
  }

  /* .blockRow:first-of-type {
    grid-template-rows: repeat(3, 120px);
    margin-bottom: 26px !important;
  }

  .blockRow:last-of-type {
    grid-template-rows: repeat(2, 120px);
  }


  .container_rus .blockRow:first-of-type {
    grid-template-rows: repeat(3, 140px);
    margin-bottom: 36px !important;
  }

  .container_rus .blockRow:last-of-type {
    grid-template-rows: repeat(2, 140px);
  }

  .blockRow:first-of-type .blockItem:nth-child(even) {
    display: none !important;
  }

  .blockRow:last-of-type .blockItem:nth-child(even) {
    display: none !important;
  } */



}