.container {
  text-align: center;
  min-height: 300px;
  margin: 140px 0px 0px;
  position: relative;
  z-index: 1;
}

.container .imgLine {
  max-width: 100%;
  max-width: calc(min(1400px, 100%));
  margin-top: 40px;
}

.list {
  display: none;
}

@media(max-width: 991.5px) {
  div.container {
    margin-top: 120px !important;
  }

  .imgLine {
    display: none;
  }

  .list {
    display: block;
  }

  .root_visible .content {
    max-height: 400px;
  }

  .root_visible .top__buttonCrosshair {
    transform: rotate(-45deg);
  }

  .top__buttonCrosshair {
    transition: transform 0.5s ease-out;
    transform-origin: center;
  }


  .content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .root {
    padding: 15px;
    border: 1px solid var(--color);
    border-radius: 10px;
  }

  .date {
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    background: linear-gradient(89.09deg, #E42BC8 2.57%, #5670FD 52.89%, #1DCEF4 97.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
    width: fit-content;
    margin-bottom: 6px;
    text-align: left;
  }

  .title {
    text-align: left;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    letter-spacing: -0.02em;

    /* W */

    color: #FFFFFF;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 35px;
  }
  .rootWrapper{
    position: relative;
  }
  .rootWrapper::before{
    display: block;
    position: absolute;
    width: 1.5px;
    height: calc(100% + 25px);
    border: 2px solid;
    background: var(--color);
    content: '';
    top: 10px;
    left: -38px;
    border: none;
  }

  .rootWrapper:last-child::before{
    content: normal;
  }

  .top__button {
    background: none;
    border: none !important;
  }

  .list {
    padding: 0px;
    list-style: none;
    margin-top: 46px;
    display: grid;
    padding-left: 78px;
    padding-right: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }

  .itemList {
    list-style: none;
    padding: 0px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }

  .itemListItem {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 150%;
    color: rgba(236, 236, 236, 0.7);
    text-align: left;
    padding-left: 14px;
    position: relative;
  }

  .itemListItem::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--color);
    left: 0px;
    top: 6px;
  }

  .list {
    position: relative;

  }

  .list::before {

  }

  .root {
    position: relative;
  }

  .root::before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    left: -59px;
    top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color);
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #110731;
  }

  .root::after {
    display: block;
    position: absolute;
    content: '';
    left: -30px;
    top: 23px;
    width: 30px;
    height: 0.7px;
    background: var(--color);
  }

  .list {
    list-style-type: none;
    counter-reset: li;
  }

}