.container {
  text-align: center;
  min-height: 300px;
  margin: 140px 0px 0px;
  position: relative;
  z-index: 1;
}

.container .imgLine {
  max-width: 100%;
  max-width: calc(min(1400px, 100%));
  margin-top: 40px;
}

@media(max-width: 991.5px) {
  div.container {
    margin-top: 120px !important;
  }

  .imgLine {
    display: none;
  }

  .container p {
    background: linear-gradient(89.09deg, #E42BC8 2.57%, #5670FD 52.89%, #1DCEF4 97.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color: transparent;
  }
}