.container {
  /* padding: 50px 7.5% 0px; */
  /* margin-top: 240px; */
  max-width: 1480px !important;
}

.columns1 {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-around;
  margin: 145px 0px;
}

.container h3 {
  text-transform: uppercase;
}

.info {
  text-align: left;
  display: flex;
  align-items: center;
}

.info__paragraph {
  margin: 32px 0px;
  font-size: 1.5vw;
  font-size: clamp(14px, 1.5vw, 18px);
}

.info__buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  justify-content: flex-start;
  align-items: center;
}

.info__rm {
  font-size: 16px;
  color: var(--color-aqua);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: center;
}

.container p {
  line-height: 2em;
}

.container img {
  max-width: 100%;
  max-height: 640px;
}




.columns1:nth-child(2)>div:first-child {
  justify-self: end;
}

.columns1:nth-child(3)>div:last-child {
  justify-self: start;
}

.columns1:nth-child(4)>div:first-child {
  justify-self: end;
}

.columns1:not(.columns1:first-of-type) {
  grid-column-gap: 3%;
}

.phonne {
  image-rendering: pixelated;
  image-rendering: -webkit-crisp-edges;
}


@media(max-width: 1550px) {
  .container p {
    line-height: 1.7em;
  }

  .container h3 {
    font-size: 35px !important;
  }

  .columns1 {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .columns1:nth-child(2) img {
    width: auto;
    height: 200px;
  }

}

@media(max-width: 1400px) {
  .container p {
    line-height: 23px;
  }

  .container h3 {
    font-size: 30px !important;
  }


  .columns1:nth-child(2) img {
    width: auto;
    height: 200px;
  }

  .columns1:not(.columns1:first-of-type) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


@media(max-width: 1250px) {
  .container p {
    line-height: 23px;
  }

  .container h3 {
    font-size: 30px !important;
  }

  .columns1 {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .columns1:nth-child(2) img {
    width: auto;
    height: 200px;
  }

  .columns1:nth-child(1) {
    grid-template-columns: max-content 1fr;
    grid-column-gap: 5%;
    max-width: 90%;
  }
}

@media(max-width: 1150px) {

  .columns1:nth-child(2),
  .columns1:nth-child(3),
  .columns1:nth-child(4) {}

  .columns1:nth-child(2) p,
  .columns1:nth-child(3) p,
  .columns1:nth-child(4) p {
    font-size: 16px;
  }
}