.top-border {
  height: 81px;
  position: relative;
}

.top-border::before {
  background: linear-gradient(180deg, #080522 7.5%, rgba(12, 7, 42, 0) 100%);
  position: absolute;
  content: '';
  width: 100%;
  height: 150%;
  top: -81px;
  transform: scaleX(2);
  left: 0px;
}

.columns2__cartContentMobile {
  display: none;
}

.container {
  padding-bottom: 100px;
  margin-top: -80px;
  /* background: center no-repeat url("/images/block2-bg.jpg"); */
  background-size: cover;

  position: relative;
}

/* .container::before {
  position: absolute;
  top: 0px;
  display: block;
  left: 0px;
  opacity: 0.05;
  height: 250%;
  width: 100%;
  background-repeat: no-repeat;
  content: '';
  background-image: url(../../../public/images/bg-m.jpg);
  top: -70px;
  background-size: cover;
} */
.whitePaperIcon {
  position: relative;
}

.whitePaperIcon div div div {
  padding-left: 30px;
}

.whitePaperIcon::before {
  pointer-events: none;

  content: '';
  position: absolute;
  left: 65px;
  width: 22px;
  height: 24px;
  z-index: 5;
  top: 24px;
  background-image: url(../../../public/images/Npaper.svg);
}


.content {
  text-align: center;
  margin-top: 70px;
}

.columns1 {
  margin: 100px 0px 120px;
  display: grid;
  grid-template-columns: minmax(826.15px, 1fr) 1fr;
  grid-column-gap: 6%;
}

.info {
  text-align: left;
  display: flex;
  align-items: center;
}

.info__paragraph {
  margin: 20px 160px 50px 0px;
  margin-right: 0px !important;
  font-size: 1.5vw;
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
}

.columns2>div:nth-child(1) {
  justify-self: start;
}

.columns2>div:nth-child(2) {
  justify-self: center;
}

.columns2>div:nth-child(3) {
  justify-self: end;
}

.container iframe {
  position: relative;
  width: calc(100% - 10px);
  position: relative;
  right: -5px;
  height: calc(100% - 10px);
}

.container .video-block::before {
  background-size: 100% 100%;
  background-position: center;
  content: '';
  position: absolute;
  display: block;
  background-position: -7px center;
  content: '';
  position: absolute;
  display: block;
  width: 101.65%;
  height: 102%;
  background-image: url(../../../public/images/v22.png);
  z-index: 3;
  pointer-events: none;
}

.video-block {
  /* height: 464px; */
  /* width: 826px; */
  /* aspect-ratio: 1.7778/1; */
  /* border: 1px solid var(--color-aqua); */
  box-sizing: content-box;
  background-size: contain;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 391px;
  width: 701px;
  display: flex;
  align-items: center;
}

.video-block video {
  height: 392.5px;
  z-index: -1;
  width: 698px;
  /* clip-path: polygon(2px 7.5%, 2px calc(92.5% - 2px), 4.5% calc(100% - 2px), calc(95.5% + 1px) calc(100% - 2px), calc(100% - 2px) calc(92.5% - 1px), calc(100% - 2px) 7.5%, calc(95.5% + 2px) 2px, 4.5% 1px); */
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;

}

.columns2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-top: 80px;
}

.columns3 {
  margin-top: 130px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 70px;
  z-index: 2;
  position: relative;
}

.columns3 svg {
  display: block;
}

.columns2__cartIcon_mobile {
  display: none;
}

@media(max-width: 1600px) {
  .columns1 {
    grid-column-gap: 0;
  }

  .info__paragraph {
    margin-right: 50px;
  }
}







@media(max-width: 1550px) {
  .video-block {
    height: 351.9px;
    width: 630px;
  }

  .video-block video {
    height: 353px;
    width: 628.5px;
  }

  .columns1 {
    grid-template-columns: 1fr 1fr;
  }


  .info {
    width: 85%;
    justify-self: end;
  }

  .columns2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon {
    height: 167px;
    width: 166px;
  }

  .columns3 {
    margin-top: 65px;
  }

  .container {
    padding-bottom: 0px;
  }
}

@media(max-width: 1400px) {
  .video-block {
    height: 299.1px;
    width: 567px;
  }

  .video-block video {
    height: 300.1px;
    width: 535px;
  }

  .info {
    width: 100%;
    padding-left: 5%;
    justify-self: start;
  }

  .info__paragraph {
    font-size: 90%;
  }

  .icon {
    height: 167px;
    width: 166px;
  }

  .columns3 {
    margin-top: 55px;
  }
}

@media(max-width: 1200px) {
  .video-block {
    height: 254.2px;
    width: 481.95px;
  }

  .video-block video {
    height: 255.5px;
    width: 456px;
  }

  .info {
    width: 100%;
    padding-left: 5%;
    justify-self: start;
  }
}

@media(max-width: 1150px) {
  .columns2 {
    margin-top: 40px;
  }

  .columns3 {
    margin-top: 45px;
  }


}



@media(max-width: 1600px) and (min-width: 992px) {
  .content {
    margin-top: 0;
  }
}

@media(max-width: 991.5px) {
  .top-border::before {
    top: -42px;
    bottom: -2;
  }

  .columns1 {
    grid-template-columns: 1fr;
    margin-top: 25px;
    margin-bottom: 120px;
  }

  .video-block {
    order: 10;
    width: 380px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .container .video-block::before {
    width: 101%;
    background-position: -3px center;
  }

  .container iframe {
    width: calc(100% - 5px);
    right: -2.5px;
  }

  .info {
    padding: 0px;
  }

  .info__paragraph {
    margin-bottom: 20px;
    text-align: center;
  }

  .info>div {
    width: 100%;
  }

  div.container {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }

  .columns2 {
    margin-top: 10px;
    grid-template-columns: 1fr;
  }

  .columns2>div {
    justify-self: center !important;
    margin: 0px;
    margin-top: 76px;
  }

  .columns2__cartContent {
    display: none;
  }



  .columns2__cartContentMobile {
    display: block;
  }

  .columns2__cartContentMobile p {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
  }

  .columns2__cartIcon {
    display: none;
  }

  .columns2__cartIcon_mobile {
    display: inline;
  }

  .columns3 {
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    justify-items: center;
  }
}

@media(max-width: 420px) {
  .video-block {
    width: 320px
  }
}

@media(max-width: 350px) {
  .video-block {
    width: 290px
  }
}

@media(max-width: 370px) {
  .columns3 {
    transform: scale(0.9);
  }
}