.container {
  text-align: center;
  min-height: 300px;
  margin: 0px 90px 0px;
}

@media(min-width: 1350px) {
  .container_rus .list {
    transform: translateX(50px);
  }

}

@media(min-width: 1033px) {
  .container_rus .list {
    transform: translateX(0px);
  }
}

@media(min-width: 992px) {
  .container_rus .list {
    transform: translateX(-15px) scale(0.85);
  }
}


@media(min-width: 992px) and (max-width: 1500px) {
  /* .container_rus .button {
    transform: scale(0.8) translatex(-50px);
  }*/

  .container_rus h1 {
    transform: translateX(-30px);
  }
}

@media(min-width: 992px)and (max-width: 1065px) {
  .first {
    transform: scale(0.8);
  }

  /* .container_rus .button {
    transform: scale(0.9) translatex(-30px);
  } */
}



.container .imgLine {
  max-width: 100%;
  max-width: calc(min(1200px, 100%));
  margin-top: 50px;
}


.block {
  padding: 80px;
  background-image: url(/icons/Subtract.png);
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 300px 1fr auto;
}

.image svg {
  transform: translateX(70px);
}


.first div:last-child,
.mobileButton>div {
  position: relative;
  left: 0px;
}

.first div:last-child svg,
.mobileButton svg {
  left: 0px;
}


.first {
  display: grid;
  grid-row-gap: 100px;
  align-items: center;
  justify-items: center;
}

.first>*:nth-child(1) {
  align-self: end !important;
}

.first>*:nth-child(2) {
  align-self: start !important;
}

.listItemDesc {
  font-family: 'Ruberoid';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
  /* or 30px */

  letter-spacing: -0.02em;

  color: #EAEAEA;
}

.listItemStrong {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 10px;
  width: 100%;
}

.list {
  padding: 0px;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.block>div {
  display: grid;
}

.listItem {
  text-align: left;
  padding-left: 26px;
  position: relative;
}

.listItem::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0px;
  width: 14px;
  height: 14px;
  border: 1px solid white;
  border-radius: 50%;
}

.listItem:nth-child(1)::before {
  background-color: #DDF851;
}

.listItem:nth-child(2)::before {
  background-color: #02C6E8;
}

.listItem:nth-child(3)::before {
  background-color: #FB6C65;
}

.listItem:nth-child(4)::before {
  background-color: #E8109F;
}

.listItem:nth-child(5)::before {
  background-color: #097493;
}

.listItem:nth-child(6)::before {
  background-color: #36F8AA;
}

.listItem:nth-child(7)::before {
  background-color: #9769FF;
}

.listItem:nth-child(8)::before {
  background-color: #006FFD;
}

.listItem:nth-child(9)::before {
  background-color: #EC93E6;
}

.listItem:nth-child(10)::before {
  background-color: #FEC0BD;
}

.listItem:nth-child(11)::before {
  background-color: #4D0FFF;
}

/* 
@media(max-width: 1610px) {
  .image svg {
    transform: translateX(40px);
  }
}

@media(max-width: 1400px) {
  .block {
    grid-template-columns: auto auto;
  }

  .third {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .list {
    grid-column-gap: 40px;
  }
} */

.mobileButton,
.mobileButton {
  display: none !important;
}

.chartUnit {
  transform: rotate(274deg);
  transform-origin: center;
  stroke-linecap: round;
  filter: drop-shadow(0px 6.19419px 6.19419px rgba(91, 147, 255, 0.05));
}

.chartUnit_noactive {
  stroke-dasharray: 0 10000 !important;
}





/* 
@media(max-width: 1100px) {
  .mobileButton {
    grid-template-columns: 1fr;
    display: grid;
    justify-content: center;
  }

  .block {
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;
    justify-items: center;
    background-image: url(/icons/Subtract-mobile.png);

  }

  .image svg {
    transform: translateX(0);
  }

  .first>*:nth-child(2) {
    display: none;
  }

  .list {
    grid-row-gap: 20px;
  }
} */

@media(max-width: 1650px) {
  .listItemDesc {
    font-size: 16px;
  }

  .listItemStrong {
    font-size: 20px;
  }

  .image svg {
    height: 500px;
    margin-left: -50px;
  }
}


@media(max-width: 1500px) {
  .listItemDesc {
    font-size: 16px;
  }

  .listItemStrong {
    font-size: 18px;
  }

  .image svg {
    height: 450px;
    margin-left: -100px;
  }

  .block {
    padding: 60px;
  }
}


@media(max-width: 1300px) {
  .block {
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media(max-width: 1200px) {
  .block {
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: 150px 500px 1fr;
  }


  .image svg {
    height: 380px;
    margin-left: -20px;
  }

  .image {
    align-items: center;
  }


}

@media(max-width:1100px) {
  .block {
    padding: 20px;
  }
}

@media(max-width: 991.5px) {
  .button {
    display: none;
  }

  .mobileButton {
    display: block !important;
  }

  .block {
    background: none;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .image {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
  }

  .image svg {
    height: auto;
    width: auto;
    max-width: 100%;
    margin-left: -69px;
  }

  .first>div:last-child {
    display: none;
  }

  .list {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(4, max-content);
    padding-right: 20px;
    padding-left: 20px;
    grid-row-gap: 25px;
    margin-bottom: 50px;
  }

  .listItemStrong {
    font-family: 'Tomorrow' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 160% !important;
  }

  .listItem::before {
    width: 11px;
    height: 11px;
    top: 6px;
  }

  .listItem {
    padding-left: 22px;
  }

  .listItemDesc {
    font-family: 'Ruberoid' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 160% !important;
    letter-spacing: -0.02em;
    color: #EAEAEA !important;
    opacity: 0.9;
  }

  .mobileButton {
    display: block;
  }


  .chartUnit {
    animation: none;
  }

}

@media(max-width: 430px) {
  .list {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(6, max-content);
    padding-right: 0;
    padding-left: 0;
  }

}




/* @media(max-width: 400px) {
  .container_rus .mobileButton {
    width: 316px;
    transform: translateX(-6vw);
  }
}

@media(max-width: 370px) {
  .container_rus .mobileButton {
    transform: scale(0.9) translateX(-6vw);
  }
}

@media(max-width: 350px) {
  .container_rus .mobileButton {
    transform: scale(0.9) translateX(-30px);
  }
}

@media(max-width: 335px) {
  .container_rus .mobileButton {
    transform: scale(0.9) translateX(-35px);
  }
}

@media(max-width: 330px) {
  .container_rus .mobileButton {
    transform: scale(0.9) translateX(-37.5px);
  }
} */





@media(max-width: 600px) {
  .container_rus .list {
    grid-template-columns: repeat(2, min-content);
    grid-column-gap: 20%;
    justify-content: center;
    grid-template-rows: repeat(6, max-content);
    padding-right: 0;
    padding-left: 0;
  }
}