/* Variables */
:root {
  --color-white: #ffffff;
  --color-aqua: #11D9EB;
  --color-dark: #0f0425;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background: linear-gradient(180deg,
      rgba(22, 14, 70, 0.69) 0%,
      rgba(7, 3, 30, 0.27) 44.66%,
      rgba(7, 3, 30, 0.63) 68.39%,
      rgba(7, 3, 30, 0) 100%), var(--color-dark);
  color: var(--color-white);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    /* color: white; */
    /* background: black; */
  }
}


.contentWrapper {
  max-width: 1625px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}



@media(max-width: 1650px) {
  .contentWrapper {
    max-width: 1500px !important;
  }

  div.contentWrapper {
    max-width: 1450px !important;
  }
}

@media(min-width: 1550px) {
  div.contentWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media(max-width: 1550px) {
  div.contentWrapper {
    max-width: 1300px !important;
  }
}

@media(max-width: 1400px) {
  div.contentWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width: 1600px) and (min-width: 992px) {
  .contentWrapper {
    transform: scale(0.9);
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .mainBg {
    margin-top: -152px
  }
}

@media(max-width: 991.5px) {
  div.contentWrapper {
    padding: 0px;
    margin-right: 17px;
    margin-left: 17px;
  }


}

@media(min-width: 768px) and (max-width: 991.5px) {


  div.contentWrapper {
    max-width: 650px !important;
    margin-right: auto;
    margin-left: auto;
  }
}