.page {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Ruberoid';
  letter-spacing: -0.02em;
}

.main {
  background: #07031E;
}

.mainBg {
  background-image: url(../public/images/mainBG.png);
  background-position: center -557px;
  background-size: 100% 107%;
  position: relative;
}



@media(max-width: 1600px) and (min-width: 992px) {

  .mainBg {
    margin-top: -152px
  }
}

@media(min-width: 1600px) {
  .mtSpace {
    margin-top: 70px !important;
  }
}