.container {
  top: 1px;
  bottom: 1px;
  right: 1.8px;
  left: 1px;
  background: #0f0425;
  display: grid;
  justify-items: center;
  align-items: center;
  background: transparent;
  position: fixed;
  height: 80px;
}

/* .containerBorder:hover {
    height: 265px;
  } */

.polygon {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.containerBorder {
  position: fixed;
  transition: height 0.3s;
  width: 25vw;
  height: 80px;
  background: linear-gradient(220deg,
      rgba(17, 217, 235, 1) 0%,
      rgba(228, 43, 200, 1) 40%);
  background: transparent;
}

.link {
  left: 47px;
  top: 35px;
  position: fixed;
  z-index: 3;
}


@media(max-width: 1150px) {
  .containerBorder {
    width: 100vw;
  }
}

@media(max-width: 768px) {
  .containerBorder {
    z-index: 10;
  }

  .link {
    top: 16px;
    left: 21px;
  }
}

@media(max-width: 1550px) {
  .link img {
    width: 130px;
    height: auto;
  }
}