.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  color: var(--color-white);
  height: 80px;
  z-index: 30;
  background: transparent;
}

.container_opened{
  z-index: 40;
}

.topCenterMenu {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-column-gap: 60px;
  height: 80px;
  /* font-family: 'Ruberoid'; */
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  position: absolute;
  margin-left: calc(50vw - 371px);
}

.topCenterMenu_rus{
  margin-left: calc(50vw - 449px);
}

.topCenterMenu a:hover {
  color: #11D9EB;
}

@media(max-width: 1150px) {
  .topCenterMenu {
    display: none;
  }
}


@media(max-width: 1550px) {
  .topCenterMenu {
    grid-column-gap: 30px;
    font-size: 16px;
    margin-left: calc(50vw - 285.5px);
  }
  .topCenterMenu_rus{
    margin-left: calc(50vw - 351.5px);
  }

}